{% extends 'main.html' %}
{% block content %}
<h1 style="background-color:rgb(219, 168, 138);color:brown">Home page Template</h1><hr>
<style>
    .home_container{
        display:grid;
        grid-template-columns:1fr 3fr 1fr;
    }

</style>




<div class="home_container ">
    <div class="topics_component">
        {% include 'base/topics_component.html' %}
    </div>

    <div>
        <p style="color:brown;background-color:rgb(219, 168, 138);"> Number of rooms - {{room_count}}</p>
        <a href="{% url 'create-room' %}"> Create a room</a>
        <hr>
        {% include 'base/feed_component.html' %}
    
    </div>

    <div>
        {% include 'base/activity_component.html' %}
    </div>
</div>
{% endblock %}

