{% extends 'main.html' %}

{% block content%}
{% if page == 'login' %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        <br>
        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Username"/>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password"/><br><br>

        <input type="submit" value="Login" />
        <p>New user?</p>    
        <a href="{% url 'register' %}">Register Now!!!</a>
    </form>
</div>

{% elif page == 'register' %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        <hr><br>
        {{ form.as_p }}

        <input type="submit" value="Register"/>
        <p>Already signed up?</p>
        <a href="{% url 'login' %}">Sign in now!!</a>

    </form>
</div>
{% endif %}

{% endblock%}
