{% extends 'main.html' %}
{% block content %}

<style>
    .comments {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    .comments-left {
        border-right: 1px solid #ccc; 
        padding-right: 24px;          
    }
</style>
<div class="comments">
    <div class="comments-left">
        <h1>This is room no. {{room.id}}</h1>
        <h3>{{ room.name }}</h3>
        <div class="comment-wrapper">
            <h3>Conversation</h3>
            <hr>

            {% for message in room_messages %}
            <div>
                {% if message.user == request.user %}
                <a href="{% url 'delete-message' message.id %}">Delete Comment</a>
                {% endif %}
                <small>@{{message.user}} {{message.added|timesince}} ago </small>
                <p>{{message.body}}</p><hr>
            </div>
            {% endfor %}
        </div>

        <div>
        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Enter your message..." />
            </form>
        </div>

        {% endif %}
        </div>

    </div>

    <div class="comments-right">
        <h3>Participants</h3><hr>
        {% for user in participants %}
            <div>
                <p>@{{user.username}}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}


